.btn:focus {
    outline:0 !important;
}

div#wrapper {
    font-size: 16px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 180px;
    text-align: right;
}

div#overlay{
    display: none;
    z-index: 99999;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;


}

div#nuevaventana{
    display: none;
    position: relative;
    z-index: 9999999;
    margin: -400px auto 0px auto;
    width: 500px;
    height: 300px;
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background: #FFF;
    color: #000;
    border: 4px solid #CCCCCC;
    animation:movercaja 0.5s ease-out forwards;
}

#botoncerrar{
    float: right;
    position: relative;
    margin-top: -15px;
    margin-right: -15px;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    background: #000000;
    font-size: 30px;
    display: inline-block;
    line-height:0px;
    padding: 15px 15px;
}

#botoncerrar:before{
    content: "X"
}

#box-header{
    width: 100%;
    height: 12%;
    background: #e9e9e9;
    padding: -20px;
    text-align: center;
    font-family: arial;
    font-size: 18px;
    padding-top: 15px;
    position: absolute;
}

@keyframes mymove {
    from {top: -10px; opacity: 1;}
    to {top: 40px; opacity: 1;}
}

@-webkit-keyframes movercaja{
    from {top: 10px; opacity: 1;}
    to {top: 40px; opacity: 1;}
}

table{
    width: 30%;
    border-collapse: collapse;
    -webkit-box-shadow: 7px 7px 23px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 23px -4px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 23px -4px rgba(0,0,0,0.75);
}

table, td, th {
    border: 1px solid #cccccc;
    padding: 5px;
}

th{
    text-align: left;
}

tr:nth-child(even){
    background-color: #E8ECED;
}
